.productInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 5vh - 20px);
    width: 60%;
    margin: 0 auto;
    gap: 70px;
  }
  
  .productImage {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .productImage img {
    border-radius: 8px;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.25);
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .prevButton {
    left: -30px;
  }
  
  .nextButton {
    right: -30px;
  }
  
  .prevButton:hover,
  .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .productDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
  }
  
  .productName {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .productPrice {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .productOptions {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
  }

  .variantSelect{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #3d832f98;
    cursor: pointer;
    transition: border 0.1s ease-out; 

  }
  .variantSelect:hover{
    border: 2px solid #3d832f;
  }

  .designSelect{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #3d832f98;
    cursor: pointer;
    transition: border 0.1s ease-out; 
  }

  .designSelect:hover{
    border: 2px solid #3d832f;
  }

  .sizeSelect{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #3d832f98;
    cursor: pointer;
    transition: border 0.1s ease-out; 
  }

  .sizeSelect:hover{
    border: 2px solid #3d832f;
  }

  .productOption{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .colorOptions{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .productColor {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .colorOption {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 50%;
    cursor: pointer;
    transition: outline 0.1s ease-out;
  }

  .option{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .productDescription {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .productQuantity {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .productQuantity button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .productQuantity button:hover {
    background-color: #e0e0e0;
  }
  
  .addCartButton button {
    background-color: #00ed64;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .addCartButton button:hover {
    background-color: #00d258;
  }
  

  @media (max-width: 768px) {
    .productInfoContainer {
      flex-direction: column;
      width: 90%;
      gap: 30px;
      padding: 20px 0;
      margin: 20px;
    }
  
    .productDetails {
      width: 100%;
      padding-bottom: 20px;
    }
  
    .productImage {
      width: 90%;
      justify-content: center;
    }
    .productImage img{
      width: 300px;
      height: 300px;
    }

    
  
    .prevButton,
    .nextButton {
      /* display: none; */
    }
  }