.profileContainer {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 5vh - 20px);
    background-color: #f4f4f4;
}

.profileContent {
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 800px;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.9); */
}

.profileHeader {
    font-size: 26px;
    font-weight: bold;
    color: #4caf50;
    margin-bottom: 20px;
}

.profileForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: left;
}

.profileForm div {
    display: flex;
    flex-direction: column;
}

.profileLabel {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.profileInput,
.profileTextarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    min-height: 48px;
}

.profileTextarea {
    resize: none;
    min-height: 100px;
    grid-column: span 2;
}

.profileInput:focus,
.profileTextarea:focus {
    border-color: #4caf50;
    outline: none;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.editButton,
.saveButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.editButton:hover,
.saveButton:hover {
    background-color: #45a049;
}

.passwordHeader {
    font-size: 22px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
}
.passwordInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.passwordInput {
    width: 50%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    margin-bottom: 10px;
}

.passwordInput:focus {
    border-color: #4caf50;
    outline: none;
}

.changePasswordButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.changePasswordButton:hover {
    background-color: #d32f2f;
}

@media (max-width: 768px) {
    .profileForm {
        grid-template-columns: 1fr;
    }
    .profileTextarea {
        grid-column: span 1;
    }
}
