.navSection{
    background-color: white;
    height: 5vh;
    align-content: center;
}
.heroBox{
    background-image: url('./heroBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    padding: 60px;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;;
}

.heroContent{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.heroTitle{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.heroText{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
}
.heroButton{
    align-self: flex-start;
    font-size: medium;
    font-weight: 600;
    color: black;
    background-color: #00ED64;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.discoverBox{
    display: flex;
    flex-direction: column;
    background-image: url('./exploreBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* gap: 60px; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 60px;
    background-color: #ffffff;
    min-height: 70vh;
}
.discoverTitle{
    /* display: flex;
    flex-direction: column; */
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.infoBox{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 60px;
    height: 50vh;
    gap: 60px;
}
.infoContent{
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    justify-content: space-between;
    flex: 1;
}
.topInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infoTitle{
    font-size: 3rem;
    font-weight: 800;
    color: black;
}
.infoText{
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}
.bottomInfo{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.addInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.addInfoTitle{
    font-weight: 700;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.addInfoText{
    font-weight: 400;
    color: black;
    text-align: justify;
}
.infoImage{
    display: flex;
    flex: 1;
    justify-content: center;
    /* background-image: url('./infoBg.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* .testimonialBox{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 60px;
    height: 40vh;
    gap: 40px;
}
.testimonialTitle{
    font-size: 3rem;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.testimonialContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.feedbackText{
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    text-align: center;
}
.feedbackAuthorDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.feedbackAuthorDetails img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.feedbackAuthor{
    font-size: 1 rem;
    font-weight: 700;
    color: black;
    text-align: center;
} */

.footerBox{
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: 60px;
    color: white;
    min-height: 30vh;
    gap: 20px;
    justify-content: space-around;
    /* align-items: center; */
}
.footerTop{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
.footerLogo {
    
    background-color: green; /* Replace with your footer's background color */
    /* padding: 20px; */
    border-radius: 10px; /* Optional */
  }
  
  .blendedLogo {
    width: 150px;
    height: 36px;
    mix-blend-mode: multiply; /* Blend the image with the background */
    opacity: 1; /* Adjust for a softer blend */
  }
  
  .blendedLogo:hover {
    opacity: 1; /* Optionally enhance visibility on hover */
  }
  
.companyContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerSocials{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.socialIcons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.socialIcons div{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.socialIcons div:hover{
    color: black;
}
.footerBottom{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
}
